@font-face { font-family: MightySouly; src: url(MightySouly-lxggD.ttf); } 

body{
    background-image: linear-gradient(rgb(48, 218, 177),rgb(36, 84, 141),rgb(11, 38, 70));
    background-attachment: fixed;
}

.navbar{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.navContainer{
    max-width: 1700px;
}


.navbar-nav li a, .Nunito{
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: "nunito";
    font-weight: bold;
   
    
}

.navbar-nav li{
    padding-left: 60px;
    flex-wrap: nowrap;
}

.navbar-nav li a:hover{
    color: rgb(45, 58, 173);
} 

nav img {
    min-width: 100px;

}

#carousel{
    max-width: 1700px;
}

.carousel-inner{
    border: 5px solid white;
    max-height: 800px;
}

.carousel-inner{
    object-fit: contain;
    text-align: center;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption{
    font-family: MightySouly;
    position: absolute;
    top: 33%;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption h1{
    color: rgb(242, 226, 5);
}

.carousel-caption button{
    background-color: white;
    border-radius: 30px;
    border-style: none;
    font-size: 30px;
    font-family: "Nunito";
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 70px;
}

.carousel-caption button:hover{
    background-color: #EA671E;
    color: white;
}
.carousel-item::before {
    content: '';
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  .row{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 58px;
    padding: 20px 10px;
  }

  #cardHolder{
    max-width: 1700px;
  }

  #highlight_title h1{
    font-size: 80px;
    font-weight: 600;
  }

  .cards{
    margin: 30px;
    color: white;
  }

  .cards img{
    border-radius: 29px;
    width: 100%;
    height: 100%;
  }

  .cards button{
    background-color: white;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    font-family: "Nunito";
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /* margin: 70px; */
}

.cards button:hover{
    background-color: #EA671E;
    color: white;
}

/* footer .container-fluid{
    color: white;
    font-family: "nunito";
    text-align: center;
    align-content: center;
    font-size: 24px;
    border-top: 1px solid white;
    margin-top: 50px;
    height: 200px;
    max-width: 1650px;
    align-items: center;
    justify-content: space-between
} */

footer{
color: white;
font-family: "nunito";
font-size: 24px;
border-top: 1px solid white;
margin-top: 50px;    
}

/* footer .container-fluid{
    display: flex;
} */

.social-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icon {
    max-width: 50px;
    margin-left: 20px;
}
